

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.game-area {
    position: relative;
}

#pongCanvas {
    border: 2px solid white;
    background-color: black;
}
